*{margin:0;padding:0;}
body{font-size:24px !important;font-family:"KaiTi","SimHei","Microsoft YaHei";}}
.printStyle{margin-bottom:30px;}
.printStyle h1{font-size:24px;margin-bottom:30px;}
.printStyle p{line-height:24px;font-size:14px;border-bottom:1px solid #000;overflow:hidden;}
.printStyle p span{width:50%;float:left;box-sizing:border-box;}
.printStyle .title{width:90px;text-indent:4px;}
p{text-indent:2em;line-height:34px;}
